{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-jsx",
    [
      "transform-react-jsx",
      {
        "pragma": "dom"
      }
    ]
  ]
}